.cell {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  &:hover {
    cursor: pointer;
    
  }

  &--x {
    background-color: $bg_x;
    background-image: url('../images/cross-white.png');
  }
  &--o {
    background-color: $bg_o;
    background-image: url('../images/circle-white.png');
  }
  &--empty {
    background-color: $bg-empty;
    background-image: none;
  }
  &--sequence {
    // background-color: yellow;
    border: 2px solid yellow;
  }
}

.board {
  background-color: $primary;
  padding: var(--gap)
}

.control-panel {
  a {
    color: $primary;
  }
  margin-bottom: 3rem;
}

footer {
  font-size: .7rem;
  margin-bottom: 2rem;
  color: gray
}