.cell {
  &:hover {
    cursor: pointer;
  }
  &::after {
    background-repeat: no-repeat;
    background-size: cover;
    content:'';
    color: $secondary;
  }
  &--x {
    background-color: $bg_x;
    &::after {
      background-image: url('../images/cross-white.png');
    }
  }
  &--o {
    background-color: $bg_o;
    &::after {
      background-image: url('../images/circle-white.png');
    }
  }
  &--empty {
    background-color: $bg-empty;
    background-image: none;
  }
  &--sequence {
    // background-color: yellow;
    border: 2px solid yellow;
  }
}

.board {
  background-color: $primary;
}

.control-panel {
  a {
    color: $primary;
  }
  margin-bottom: 3rem;
}

footer {
  font-size: .7rem;
  margin-bottom: 2rem;
  color: gray
}