.container {
  width: 50%;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

section {
  margin-bottom: 1rem;
}

#board {
  width: 100%;
}


.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--dimension), 1fr);
  gap: var(--gap);
  width: var(--main-width);
  background-color: orange;
}
.cell {
  width: var(--main-width) - calc((var(--dimension) - 1) * var(--gap));
  //  - (var(--dimension) - 1) * var(--gap);
  position:relative;
  

  &__placeholder {
    padding-bottom: 100%;
  }
  &__content {
    display:block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%)
  }
}




.control-panel {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
