<!DOCTYPE html>
<html>

<head>
  <title>tic-tack-toe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7245d56fe4.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <div id="root"></div>
    <div class="control-panel">
      <a href='#'><i class="fas fa-plus-square control-panel--new"></i></a>
      <a href='#'><i class="fas fa-save control-panel--save"></i></a>
      <a href='#'><i class="fas fa-star control-panel--record"></i></a>
      <a href='#'><i class="fas fa-minus control-panel--delete-last"></i></a>
      <a href='#'><i class="fas fa-upload control-panel--upload"></i></a>
      <a href='#'><i class="fas fa-exchange-alt control-panel--dimension"></i></a>
    </div>
  </div>
</body>

</html>