<!DOCTYPE html>
<html>

<head>
  <title>tic-tack-toe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/7245d56fe4.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <section id="board"></section>
    <section class="control-panel">
      <button href='#' class="tooltip">
        <i class="fas fa-plus-square  control-panel--new"></i>
        <span class="tooltiptext">New Game</span>
      </button>
      <button href='#' class="tooltip">
        <i class="fas fa-download  control-panel--save"></i>
        <span class="tooltiptext">Save Game</span>
      </button>
      <button href='#' class="tooltip">
        <i class="fas fa-upload  control-panel--upload"></i>
        <span class="tooltiptext">Upload Game</span>
      </button>
      <button href='#' class="tooltip">
        <i class="fas fa-star  control-panel--record"></i>
        <span class="tooltiptext">Best Result</span>
      </button>
      <button href='#' class="tooltip">
        <i class="fas fa-minus  control-panel--delete-last"></i>
        <span class="tooltiptext">Delete Last Move</span>
      </button>
      <button href='#' class="tooltip">
        <i class="fas fa-exchange-alt  control-panel--dimension"></i>
        <span class="tooltiptext">Change Board</span>
      </button>
    </section>
    <footer>
      Copyright &#169; 2020 Nati Kamusher
    </footer>
  </div>
</body>

</html>